<app-header></app-header>

<div class="cont" >
  <br>
  <h3 class="text-center"> Suit yourself </h3>
  <hr>
  <ul id="categories">
    <li>
      <div class="card bg-dark text-white li-element">
          <img class="card-img" src="assets/julian-christian-anderson-1131542-unsplash.jpg" alt="Card image">
          <div class="card-img-overlay ovl">
            <h3 class="card-title">Geek-king</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </li>
      <li>
          <div class="card bg-dark text-white li-element">
              <img class="card-img" src="assets/christiann-koepke-1224561-unsplash.jpg" alt="Card image">
              <div class="card-img-overlay ovl">
                <h3 class="card-title">Processions.</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                
              </div>
            </div>
        </li>
        <li>
              <div class="card bg-dark text-white li-element">
                  <img class="card-img" src="assets/christiann-koepke-1224562-unsplash.jpg" alt="Card image">
                  <div class="card-img-overlay ovl">
                    <h3 class="card-title">Wine and Dine</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    
                  </div>
                </div>
          </li>
          <li>
              <div class="card bg-dark text-white li-element">
                  <img class="card-img" src="assets/toa-heftiba-1222610-unsplash.jpg" alt="Card image">
                  <div class="card-img-overlay ovl">
                    <h3 class="card-title">Tell us about your work.</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    
                  </div>
                </div>
          </li>
          <li>
            <div class="card bg-dark text-white li-element">
                <img class="card-img" src="assets/craventure-stevens-1224905-unsplash.jpg" alt="Card image">
                <div class="card-img-overlay ovl">
                  <h3 class="card-title">Have a pet?</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
              </div>
        </li>
        <li>
          <div class="card bg-dark text-white li-element">
              <img class="card-img" src="assets/nina-zivadinovic-1220696-unsplash.jpg" alt="Card image">
              <div class="card-img-overlay ovl">
                <h3 class="card-title">Art and Culture</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                
              </div>
            </div>
      </li>
      <li>
        <div class="card bg-dark text-white li-element">
            <img class="card-img" src="assets/kamyab-lotfollahyan-1161760-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay ovl">
              <h3 class="card-title">Sports and Fitness</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              
            </div>
          </div>
    </li>
    </ul>
</div>

